<div class='editor-left'>
  <div>
  <h4><%= _("Merge Articles") %></h4>
    <label for="merge_with"><%= _("Article ID")%></label>
    <div class='input'>
      <%= text_field_tag 'merge_with', '', :class => 'span5' %>
      <input id='merge_button' type="submit" value="<%= _('Merge') %>" name="merge" class='btn primary' />
    </div>
  </div>
</div>

